<div>Billcrush: <%= @group.name %></div>


<h3>Members</h3>
<ul>
<% @members.each do |member| %>
  <li><%= member.name %> - <%= member.balance %></li>
<% end %>
</ul>

<h3>Transactions</h3>
<ul>
<% @transactions.each do |transaction| %>
  <li><%= transaction.description %> - <%= transaction.amount %></li>
<% end %>
</ul>


<%= form_for [@group, @new_member] do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.submit %>
<% end %>

<%= form_for [@group, @new_transaction] do |tf| %>
  <%= tf.label :payer, "Paid by" %>
  <%= collection_select(:transaction, :payer, @group.members, :id, :name) %>
  <%= tf.label :description %>
  <%= tf.text_field :description %>
  <%= tf.label :amount, "Total amount" %>
  <%= tf.text_field :amount %>
  <% @members.each do |member| %>
    <label for="transaction_<%= member.to_param %>_amount"><%= member.name %></label>
    <input type="hidden" name="transaction[members][][id]" value="<%= member.to_param %>" />
    <input id="transaction_<%= member.to_param %>_amount" name="transaction[members][][amount]" size="6" type="text" />
  <% end %>
  <%= tf.submit %>
<% end %>