<div>Billcrush: <%= @group.name %></div>


<h3>Members</h3>
<ul>
<% @members.each do |member| %>
  <li><%= member.name %> - <%= money(member.balance) %></li>
<% end %>
</ul>

<h3>Transactions</h3>
<table>
  <tr>
    <th>Payer</th>
    <th>Description</th>
  <% @group.members.each do |member|%>
    <th><%= member.name %></th>
  <% end %>
    <th>Total</th>
  </tr>
<% @transactions.each do |transaction| %>
  <tr class="<%= "settlement" if transaction.settlement? %>" >
    <%# cheating here by assuming only one payer %>
    <td><%= transaction.credits.first.member.name %></td>
    <td><%= transaction.description %></td>
    <% @group.members.each do |member| %>
      <td><%= money(member.debits_for_transaction(transaction)) %></td>
    <% end %>
    <td><strong><%= money(transaction.amount) %></strong></td>
    <td><%= link_to "Delete!", group_transaction_url(@group, transaction), {:method => :delete, :confirm => "Are you sure you want to delete this transaction?"} %></td>
  </tr>
<% end %>
</table>

<h3>Best Way to Settle</h3>
<ul>
<% @group.best_way_to_settle.each do |settlement| %>
  <li>
    <%= settlement[:payer].name %> pays <%= settlement[:payee].name %> <%= money(settlement[:amount]) %>
    <%= form_for :transaction, :url => group_transactions_url(@group), :html => {:method => :post} do |f| %>
        <%= f.hidden_field(:payer, :value => settlement[:payer].to_param) %>
        <%= f.hidden_field(:settlement, :value => "1") %>
        <%= f.hidden_field(:amount, :value => settlement[:amount].to_f / 100) %>
        <%= hidden_field_tag "transaction[members][#{settlement[:payee].to_param}]", settlement[:amount].to_f / 100 %>
        <%= f.submit "Settle" %>
    <% end %>
  </li>
<% end %>
</ul>



<%= form_for [@group, @new_member] do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.submit %>
<% end %>

<%= form_for [@group, @new_transaction] do |tf| %>
  <%= tf.label :payer, "Paid by" %>
  <%= collection_select(:transaction, :payer, @group.members, :id, :name) %>
  <%= tf.label :description %>
  <%= tf.text_field :description %>
  <%= tf.label :amount, "Total amount" %>
  <%= tf.text_field :amount %>
  <% @members.each do |member| %>
     <%= label_tag "transaction_members_#{member.to_param}", member.name %>
     <%= text_field_tag "transaction[members][#{member.to_param}]", '', {:size => 6} %>
  <% end %>
  <%= tf.submit %>
<% end %>