<!DOCTYPE html>
<title>Billcrush – <%= yield(:subtitle) %></title>
<%= stylesheet_link_tag 'main' %>
<div id=page>
  <div><h1>billcrush</h1><h2><%= yield(:subtitle) %></h2></div>
  <%= yield %>
</div>
<div id=foot>
</div>
<%= javascript_include_tag 'extern' %>
<%= yield(:page_script) %>